app/checkout-contact.html
<!DOCTYPE html><!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Envy Her.</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="bower_components/lightbox2/dist/css/lightbox.css">
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/social-likes/dist/social-likes_flat.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/lightbox2/dist/js/lightbox.js"></script>
    <!-- endbower-->
    <script src="bower_components/social-likes/dist/social-likes.min.js"></script>
    <!-- endbuild-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js"></script>
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <header class="main-header">
            <div class="container">
              <div class="mobile-header-nav">
                <div class="header__logo-wr"><a href="index.html"><img src="img/logo-new.jpg" alt="header logo" width="190" height="148" class="header__logo img-responsive">
                    <div class="sr-only">
                      <h1>Envy Her.</h1>
                    </div></a></div>
                <div class="toggle-menu toggle-menu_left visible-xs-block js-mobile-menu__site-nav-btn"><span class="menu-line menu-line_top"></span><span class="menu-line menu-line_center"></span><span class="menu-line menu-line_bottom"></span></div>
                <div class="toggle-menu toggle-menu_right visible-xs-block js-mobile-menu__user-btn"><i class="eh-icon-user"></i></div>
              </div>
              <div class="mobile-menu__user">
                <div class="clearfix">
                  <div class="site-global-actions-header">
                    <div class="clearfix">
                      <div class="site-global-action-menu">
                        <div class="header__help-nav hidden-xs">
                          <div class="header__help-nav-item"><a href="contact.html" class="header__help-nav-link">Contact us</a></div>
                          <div class="header__help-nav-item"><a href="faq.html" class="header__help-nav-link">Need help</a></div>
                        </div>
                        <div class="header__profile-nav"><a href="sign-in.html" class="header__profile-nav-link"><i class="eh-icon-lock"></i>
                            <div class="sr-only">Sign in / Sign up</div></a><a href="my-account.html" class="header__profile-nav-link"><i class="eh-icon-user"></i>
                            <div class="sr-only">my account</div></a></div>
                        <div class="header__dropdonwns-menu">
                          <div class="dropdown dropdown_pr-1"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">RU<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">RU</a></li>
                              <li><a href="">EN</a></li>
                              <li><a href="">DH</a></li>
                            </ul>
                          </div>
                          <div class="dropdown dropdown_pr-2"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">$<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">$</a></li>
                              <li><a href="">€</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="header__cart-menu">
                          <div class="header__cart-btn dropdown"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn"><span class="header__cart-btn-label"><img src="img/svg/cart.svg" alt="cart icon" width="14.5" height="17" class="icon"><span>CART</span></span><span class="header__cart-btn-counter">1 product</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart keep-open-on-click">
                              <div class="dropdown-menu-cart__body">
                                <div class="dropdown-menu-cart__product-list">
                                  <div data-mcs-theme="minimal-dark" class="cart__product-list__custom-scrollbar mCustomScrollbar">
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="dropdown-menu-cart__footer">
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Shipping</div>
                                  <div class="dropdown-menu-cart__total-value">Free shipping!</div>
                                </div>
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Total</div>
                                  <div class="dropdown-menu-cart__total-value dr-cart-value__strong">$30.54</div>
                                </div><a href="" class="btn btn-info btn-lg btn-block">Check out <i class="eh-icon-arrow-right-bl"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="header__search-form__wr">
                        <form class="header__search-form">
                          <input type="text" placeholder="Search" class="header__search-form-input">
                          <button type="submit" class="header__search-form-button"><i class="eh-icon-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-menu__site-nav">
                <div class="clearfix">
                  <div class="site-nav-wr">
                    <nav class="site-nav">
                      <ul class="site-nav__list">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Necklaces</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Bracelets</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Rings</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-1.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-2.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Collections</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Gifts</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Best sellers</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__two-col">
                                <div class="mega-menu__thumbnail"><a href=""><img src="imgBackEnd/mega-menu-img-3.jpg" alt="" class="img-responsive"></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Create your own</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link site-nav__list-link_sale">Sale</a></li>
                      </ul>
                      <ul class="site-nav__list site-nav__list_categories-sidebar visible-xs-block">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">WHAT'S HOT</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Christmas Gifts Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Best Sellers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Arrivals</a></li>
                                <li class="mega-menu__list-item"><a href="">Ring Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Bar Necklaces</a></li>
                                <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">CREATE YOUR OWN</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">My Charm Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Floating Lockets</a></li>
                                <li class="mega-menu__list-item"><a href="">My Photo Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Coin Lockets</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">SHOP FOR</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Mothers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Mom</a></li>
                                <li class="mega-menu__list-item"><a href="">Grandmother</a></li>
                                <li class="mega-menu__list-item"><a href="">Men</a></li>
                                <li class="mega-menu__list-item"><a href="">Kids</a></li>
                                <li class="mega-menu__list-item"><a href="">Baby</a></li>
                                <li class="mega-menu__list-item"><a href="">Couples</a></li>
                                <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Your shopping cart</li>
            </ol>
            <header class="main-content__header main-content__header_border">
              <h2 class="main-content__title">Contact infomation</h2>
            </header>
            <div class="main-content__body">
              <div class="checkout-steps-list-wr">
                <div class="steps-list">
                  <div class="steps-list-item completed">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">01.</span><span class="step__label">Summery</span><i class="eh-icon-check"></i></div>
                  </div>
                  <div class="steps-list-item active">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">02.</span><span class="step__label">Contact infomation</span><i class="eh-icon-check"></i></div>
                  </div>
                  <div class="steps-list-item">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">03.</span><span class="step__label">Payment & Shipping</span><i class="eh-icon-check"></i></div>
                  </div>
                </div>
              </div>
              <form class="checkout-contact__form clearfix">
                <div class="well well_security">
                  <div class="ssl-security__badge">
                    <div class="ssl-security__badge-icon"><i class="eh-icon-security"></i></div>
                    <div class="ssl-security__badge-text">
                      <div class="ssl-security__badge-text_small">This site is SSL</div>
                      <div class="ssl-security__badge-text_big">SECURED</div>
                    </div>
                  </div>
                  <div class="form-group_mg-xlg">
                    <div class="form-hint__wr">
                      <p class="form-hint form-hint_strong">please fill out the form below. </p>
                      <p class="form-hint form-hint_danger">*Required field</p>
                    </div>
                  </div>
                  <div class="form-group form-group_max-w has-success has-feedback">
                    <label for="fcFirstName" class="required">First name</label>
                    <input id="fcFirstName" type="text" placeholder="First name" required aria-describedby="inputSuccess2Status" class="form-control"><span aria-hidden="true" class="eh-icon-check form-control-feedback"></span>
                  </div>
                  <div class="form-group form-group_max-w has-error has-feedback">
                    <label for="fcLastName" class="required">Last name</label>
                    <input id="fcLastName" type="text" placeholder="Last name" required class="form-control"><span aria-hidden="true" class="eh-icon-error form-control-feedback"></span>
                  </div>
                  <div class="form-group form-group_max-w">
                    <label for="fcCountry" class="required">Country</label>
                    <select id="fcCountry" class="form-control custom-select">
                      <option selected disabled></option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group form-group_max-w has-feedback">
                    <label for="fcEmailAddress" class="required">Email address</label>
                    <div class="form-group_help-block-right">
                      <input id="fcEmailAddress" type="email" placeholder="" required class="form-control">
                      <p class="help-block help-block_right">(Invoice and other notifications<br>will be sent to this email address)</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-checkbox">
                      <input id="ch1" type="checkbox" value="" checked>
                      <label for="ch1">Add me to the VIP list to receive exclusive promotions.<br><a href="">Mailing Conditions</a></label>
                    </div>
                  </div>
                </div>
                <div class="main-content__footer"><a href="" class="btn btn-lg btn-primary-2 btn-bl pull-left continue-shopping-btn"><i class="eh-icon-arrow-left-bl icon-l"></i>Back</a><a href="" class="btn btn-lg btn-primary-2 btn-bl pull-right-sm">Proceed to checkout<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
              </form>
            </div>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Footer-->
      <div class="container-wrap container-wrap__footer">
        <footer class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 footer__navs-wr">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="footer-menu__title">Information</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="about-us.html">About us</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sale</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sitemap</a></li>
                      <li class="footer-menu__nav-item"><a href="faq.html">FAQ</a></li>
                      <li class="footer-menu__nav-item"><a href="contact.html">Contact us</a></li>
                      <li class="footer-menu__nav-item"><a href="size-guide.html">Size guide</a></li>
                      <li class="footer-menu__nav-item"><a href="">How to take care of your jewelry</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <div class="footer-menu__title">My account</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="">My orders</a></li>
                      <li class="footer-menu__nav-item"><a href="">My personal info</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-md-offset-2">
                <div class="footer__logo-wr"><a href=""><img src="img/svg/logo.svg" alt="footer logo" width="203" height="50" class="footer__logo img-responsive">
                    <div class="sr-only"><img src="img/logo.png" alt="footer logo">
                      <h2>Envy Her.</h2>
                    </div></a></div>
                <div class="footer__contacts">
                  <div class="footer__contact-row">My Company , 4578 Marmora Road, Glasgow D04 89GR</div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Call us now:</span> <span class="footer__contact-value"><a href="tel:12345679842">1(234) 567-9842</a></span></div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Email:</span> <span class="footer__contact-value"><a href="mailto:info@demolink.org">info@demolink.org</a></span></div>
                </div>
                <ul class="footer__social-menu">
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-facebook"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-instagram"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-twitter"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-pinterest"></i></a></li>
                </ul>
                <div class="footer__copyright">© 2017 My Name in Bling</div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end inner Footer-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>

app/checkout-contact.jade
extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your shopping cart

  header.main-content__header.main-content__header_border
    h2.main-content__title Contact infomation
  .main-content__body
    .checkout-steps-list-wr
      .steps-list
        .steps-list-item.completed
          .section-block__steps-list-item-inner
            span.step__counter 01.
            span.step__label Summery
            i.eh-icon-check
        .steps-list-item.active
          .section-block__steps-list-item-inner
            span.step__counter 02.
            span.step__label Contact infomation
            i.eh-icon-check
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 03.
            span.step__label Payment & Shipping
            i.eh-icon-check

    form.checkout-contact__form.clearfix
      .well.well_security
        .ssl-security__badge
          .ssl-security__badge-icon
            i.eh-icon-security
          .ssl-security__badge-text
            .ssl-security__badge-text_small This site is SSL
            .ssl-security__badge-text_big SECURED
        .form-group_mg-xlg
          .form-hint__wr
            p.form-hint.form-hint_strong
              | please fill out the form below. 
            p.form-hint.form-hint_danger *Required field

        .form-group.form-group_max-w.has-success.has-feedback
          label(for='fcFirstName').required First name
          input#fcFirstName.form-control(type='text', placeholder='First name', required,aria-describedby="inputSuccess2Status")
          span.eh-icon-check.form-control-feedback(aria-hidden='true')

        .form-group.form-group_max-w.has-error.has-feedback
          label(for='fcLastName').required Last name
          input#fcLastName.form-control(type='text', placeholder='Last name', required)
          span.eh-icon-error.form-control-feedback(aria-hidden='true')

        .form-group.form-group_max-w
            label(for='fcCountry').required Country
            select#fcCountry.form-control.custom-select
              option(selected disabled)
              option 2
              option 3
              option 4
              option 5

        .form-group.form-group_max-w.has-feedback
          label(for='fcEmailAddress').required Email address
          .form-group_help-block-right
            input#fcEmailAddress.form-control(type='email', placeholder='', required)
            p.help-block.help-block_right
              | (Invoice and other notifications
              br
              | will be sent to this email address)

        .form-group
          .custom-checkbox
            input#ch1(type='checkbox', value='', checked)
            label(for="ch1")
              | Add me to the VIP list to receive exclusive promotions.
              br
              a(href="") Mailing Conditions

      .main-content__footer
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-left.continue-shopping-btn
          i.eh-icon-arrow-left-bl.icon-l
          | Back
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-right-sm
          | Proceed to checkout
          i.eh-icon-arrow-right-bl.icon-r
