app/checkout-summary.html
<!DOCTYPE html><!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Envy Her.</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="bower_components/lightbox2/dist/css/lightbox.css">
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/social-likes/dist/social-likes_flat.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/lightbox2/dist/js/lightbox.js"></script>
    <!-- endbower-->
    <script src="bower_components/social-likes/dist/social-likes.min.js"></script>
    <!-- endbuild-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js"></script>
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <header class="main-header">
            <div class="container">
              <div class="mobile-header-nav">
                <div class="header__logo-wr"><a href="index.html"><img src="img/logo-new.jpg" alt="header logo" width="190" height="148" class="header__logo img-responsive">
                    <div class="sr-only">
                      <h1>Envy Her.</h1>
                    </div></a></div>
                <div class="toggle-menu toggle-menu_left visible-xs-block js-mobile-menu__site-nav-btn"><span class="menu-line menu-line_top"></span><span class="menu-line menu-line_center"></span><span class="menu-line menu-line_bottom"></span></div>
                <div class="toggle-menu toggle-menu_right visible-xs-block js-mobile-menu__user-btn"><i class="eh-icon-user"></i></div>
              </div>
              <div class="mobile-menu__user">
                <div class="clearfix">
                  <div class="site-global-actions-header">
                    <div class="clearfix">
                      <div class="site-global-action-menu">
                        <div class="header__help-nav hidden-xs">
                          <div class="header__help-nav-item"><a href="contact.html" class="header__help-nav-link">Contact us</a></div>
                          <div class="header__help-nav-item"><a href="faq.html" class="header__help-nav-link">Need help</a></div>
                        </div>
                        <div class="header__profile-nav"><a href="sign-in.html" class="header__profile-nav-link"><i class="eh-icon-lock"></i>
                            <div class="sr-only">Sign in / Sign up</div></a><a href="my-account.html" class="header__profile-nav-link"><i class="eh-icon-user"></i>
                            <div class="sr-only">my account</div></a></div>
                        <div class="header__dropdonwns-menu">
                          <div class="dropdown dropdown_pr-1"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">RU<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">RU</a></li>
                              <li><a href="">EN</a></li>
                              <li><a href="">DH</a></li>
                            </ul>
                          </div>
                          <div class="dropdown dropdown_pr-2"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">$<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">$</a></li>
                              <li><a href="">€</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="header__cart-menu">
                          <div class="header__cart-btn dropdown"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn"><span class="header__cart-btn-label"><img src="img/svg/cart.svg" alt="cart icon" width="14.5" height="17" class="icon"><span>CART</span></span><span class="header__cart-btn-counter">1 product</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart keep-open-on-click">
                              <div class="dropdown-menu-cart__body">
                                <div class="dropdown-menu-cart__product-list">
                                  <div data-mcs-theme="minimal-dark" class="cart__product-list__custom-scrollbar mCustomScrollbar">
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="dropdown-menu-cart__footer">
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Shipping</div>
                                  <div class="dropdown-menu-cart__total-value">Free shipping!</div>
                                </div>
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Total</div>
                                  <div class="dropdown-menu-cart__total-value dr-cart-value__strong">$30.54</div>
                                </div><a href="" class="btn btn-info btn-lg btn-block">Check out <i class="eh-icon-arrow-right-bl"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="header__search-form__wr">
                        <form class="header__search-form">
                          <input type="text" placeholder="Search" class="header__search-form-input">
                          <button type="submit" class="header__search-form-button"><i class="eh-icon-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-menu__site-nav">
                <div class="clearfix">
                  <div class="site-nav-wr">
                    <nav class="site-nav">
                      <ul class="site-nav__list">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Necklaces</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Bracelets</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Rings</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-1.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-2.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Collections</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Gifts</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Best sellers</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__two-col">
                                <div class="mega-menu__thumbnail"><a href=""><img src="imgBackEnd/mega-menu-img-3.jpg" alt="" class="img-responsive"></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Create your own</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link site-nav__list-link_sale">Sale</a></li>
                      </ul>
                      <ul class="site-nav__list site-nav__list_categories-sidebar visible-xs-block">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">WHAT'S HOT</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Christmas Gifts Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Best Sellers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Arrivals</a></li>
                                <li class="mega-menu__list-item"><a href="">Ring Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Bar Necklaces</a></li>
                                <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">CREATE YOUR OWN</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">My Charm Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Floating Lockets</a></li>
                                <li class="mega-menu__list-item"><a href="">My Photo Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Coin Lockets</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">SHOP FOR</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Mothers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Mom</a></li>
                                <li class="mega-menu__list-item"><a href="">Grandmother</a></li>
                                <li class="mega-menu__list-item"><a href="">Men</a></li>
                                <li class="mega-menu__list-item"><a href="">Kids</a></li>
                                <li class="mega-menu__list-item"><a href="">Baby</a></li>
                                <li class="mega-menu__list-item"><a href="">Couples</a></li>
                                <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <div class="container">
            <script>
              $( document ).ready(function() {
                $('.js-mobile-dropdown').on('click', function(){
                  $(this).toggleClass('active');
                })
              });
            </script>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Your shopping cart</li>
            </ol>
            <header class="main-content__header main-content__header_border">
              <h2 class="main-content__title">Shopping-cart summary</h2>
              <div class="shopping-cart__contains">
                Your shopping cart contains:
                 <span class="shopping-cart__contains-counter">1 products</span>
              </div>
            </header>
            <div class="main-content__body">
              <div class="checkout-steps-list-wr">
                <div class="steps-list">
                  <div class="steps-list-item active">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">01.</span><span class="step__label">Summary</span></div>
                  </div>
                  <div class="steps-list-item">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">02.</span><span class="step__label">Contact infomation</span></div>
                  </div>
                  <div class="steps-list-item">
                    <div class="section-block__steps-list-item-inner"><span class="step__counter">03.</span><span class="step__label">Payment & Shipping</span></div>
                  </div>
                </div>
              </div>
              <form class="summary-checkout__form clearfix">
                <table class="table table-bordered responsive-table checkout-table">
                  <thead data-dropdown-title="SORT MENU" class="js-mobile-dropdown">
                    <tr class="active">
                      <th class="th-product">Product</th>
                      <th class="th-description">Description</th>
                      <th>Avail.</th>
                      <th>Unit price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th class="th-delete"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-th="Product" class="td-xs-label col product">
                        <div class="table-product-thumbnail"><img src="imgBackEnd/product-1.jpg" alt=""></div>
                      </td>
                      <td data-th="Description" class="td-xs-label col td-description"><span class="td-description-text">Silver Necklace</span></td>
                      <td data-th="Avail." class="td-xs-label col td-v-m-sm td-avail"><span class="label label-outline">In Stock</span></td>
                      <td data-th="Unit price" class="td-xs-label col td-v-m-sm td-unit-price">
                        <div class="unit-price-inner">
                          <div class="unit-price-new">$30.54</div>
                          <div class="unit-price-sale">5%</div>
                          <div class="unit-price-old">$30.54</div>
                        </div>
                      </td>
                      <td data-th="qty" class="td-xs-label col td-v-m-sm td-qty">
                        <div class="qty-form-group_wr">
                          <div class="input-qty">
                            <input type="number" value="01" name="quantity" max="99" min="0" class="form-control input-sm">
                          </div>
                          <div class="input-group-btn">
                            <button type="button" field="quantity" class="btn btn-sm btn-default js-qtyminus"><i class="eh-icon-minus"></i></button>
                            <button type="button" field="quantity" class="btn btn-sm btn-default js-qtyplus"><i class="eh-icon-plus"></i></button>
                          </div>
                        </div>
                      </td>
                      <td data-th="Total" class="td-xs-label col td-v-m-sm td-total">$30.54</td>
                      <td data-th="Delete" class="col td-v-m-sm td-delete"><a href="" class="delete-product-btn"><i class="eh-icon-trash"></i><span class="sr-only">Delete</span></a></td>
                    </tr>
                    <tr class="active checkout-tr-price">
                      <td colspan="2" class="hidden-td"></td>
                      <td colspan="3" class="text-right-sm">Total products (tax excl.)</td>
                      <td colspan="2">$30.54</td>
                    </tr>
                    <tr class="active checkout-tr-price checkout-tr-price_important">
                      <td colspan="2" class="hidden-td"></td>
                      <td colspan="3" class="text-right-sm">Total</td>
                      <td colspan="2">$30.54</td>
                    </tr>
                  </tbody>
                </table>
                <div class="main-content__footer"><a href="" class="btn btn-lg btn-primary-2 btn-bl pull-left continue-shopping-btn"><i class="eh-icon-arrow-left-bl icon-l"></i>Back</a><a href="" class="btn btn-lg btn-primary-2 btn-bl pull-right-sm">Proceed to checkout<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
              </form>
            </div>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Footer-->
      <div class="container-wrap container-wrap__footer">
        <footer class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 footer__navs-wr">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="footer-menu__title">Information</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="about-us.html">About us</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sale</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sitemap</a></li>
                      <li class="footer-menu__nav-item"><a href="faq.html">FAQ</a></li>
                      <li class="footer-menu__nav-item"><a href="contact.html">Contact us</a></li>
                      <li class="footer-menu__nav-item"><a href="size-guide.html">Size guide</a></li>
                      <li class="footer-menu__nav-item"><a href="">How to take care of your jewelry</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <div class="footer-menu__title">My account</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="">My orders</a></li>
                      <li class="footer-menu__nav-item"><a href="">My personal info</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-md-offset-2">
                <div class="footer__logo-wr"><a href=""><img src="img/svg/logo.svg" alt="footer logo" width="203" height="50" class="footer__logo img-responsive">
                    <div class="sr-only"><img src="img/logo.png" alt="footer logo">
                      <h2>Envy Her.</h2>
                    </div></a></div>
                <div class="footer__contacts">
                  <div class="footer__contact-row">My Company , 4578 Marmora Road, Glasgow D04 89GR</div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Call us now:</span> <span class="footer__contact-value"><a href="tel:12345679842">1(234) 567-9842</a></span></div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Email:</span> <span class="footer__contact-value"><a href="mailto:info@demolink.org">info@demolink.org</a></span></div>
                </div>
                <ul class="footer__social-menu">
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-facebook"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-instagram"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-twitter"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-pinterest"></i></a></li>
                </ul>
                <div class="footer__copyright">© 2017 My Name in Bling</div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end inner Footer-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>

app/checkout-summary.jade
extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  script.
    $( document ).ready(function() {
      $('.js-mobile-dropdown').on('click', function(){
        $(this).toggleClass('active');
      })
    });
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your shopping cart

  header.main-content__header.main-content__header_border
    h2.main-content__title Shopping-cart summary
    .shopping-cart__contains Your shopping cart contains:
      |  
      span.shopping-cart__contains-counter 1 products
  .main-content__body
    .checkout-steps-list-wr
      .steps-list
        .steps-list-item.active
          .section-block__steps-list-item-inner
            span.step__counter 01.
            span.step__label Summary
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 02.
            span.step__label Contact infomation
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 03.
            span.step__label Payment & Shipping

    form.summary-checkout__form.clearfix
      table.table.table-bordered.responsive-table.checkout-table
        thead.js-mobile-dropdown(data-dropdown-title="SORT MENU")
          tr.active
            th.th-product Product
            th.th-description Description
            th Avail.
            th Unit price
            th Quantity
            th Total
            th.th-delete
        tbody
          tr
            td.td-xs-label.col.product(data-th="Product")
              .table-product-thumbnail
                img(src="imgBackEnd/product-1.jpg", alt="")
            td.td-xs-label.col.td-description(data-th="Description")
              span.td-description-text Silver Necklace
            td.td-xs-label.col.td-v-m-sm.td-avail(data-th="Avail.")
              span.label.label-outline In Stock
            td.td-xs-label.col.td-v-m-sm.td-unit-price(data-th="Unit price")
              .unit-price-inner
                .unit-price-new $30.54
                .unit-price-sale 5%
                .unit-price-old $30.54
            td.td-xs-label.col.td-v-m-sm.td-qty(data-th="qty")
              .qty-form-group_wr
                .input-qty
                  input.form-control.input-sm(type='number', value='01', name='quantity', max='99', min='0')
                .input-group-btn
                  button.btn.btn-sm.btn-default.js-qtyminus(type='button', field='quantity')
                    i.eh-icon-minus
                  button.btn.btn-sm.btn-default.js-qtyplus(type='button', field='quantity')
                    i.eh-icon-plus

            td.td-xs-label.col.td-v-m-sm.td-total(data-th="Total") $30.54
            td.col.td-v-m-sm.td-delete(data-th="Delete")
              a(href="").delete-product-btn
                i.eh-icon-trash
                span.sr-only Delete
          tr.active.checkout-tr-price
            td(colspan="2").hidden-td
            td(colspan="3").text-right-sm Total products (tax excl.)
            td(colspan="2") $30.54
          tr.active.checkout-tr-price.checkout-tr-price_important
            td(colspan="2").hidden-td
            td(colspan="3").text-right-sm Total
            td(colspan="2") $30.54

      .main-content__footer
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-left.continue-shopping-btn
          i.eh-icon-arrow-left-bl.icon-l
          | Back
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-right-sm
          | Proceed to checkout
          i.eh-icon-arrow-right-bl.icon-r
