app/order-history.jade
extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  script.
    $( document ).ready(function() {
      $('.js-mobile-dropdown').on('click', function(){
        $(this).toggleClass('active');
      })
    });
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Order history

  header.main-content__header.main-content__header_border
    h2.main-content__title Order history
  .main-content__body

    table.table.table-bordered.responsive-table.order-table
      thead.js-mobile-dropdown(data-dropdown-title="SORT MENU")
        tr(role='row').active
          th Order reference
          th.sorting Date
          th.sorting Total price
          th Payment
          th.sorting Status
          th Invocie
          th.sorting_disabled
      tbody
        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link MVPKSGFOI
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment") Bank wire
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder


        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link BQDBPNIRQ
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment")
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder

        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link MVPKSGFOI
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment") Bank wire
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder

    hr


  footer.main-content__footer
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Continue shopping
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Home

app/order-history.html
<!DOCTYPE html><!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Envy Her.</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="bower_components/lightbox2/dist/css/lightbox.css">
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/social-likes/dist/social-likes_flat.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/lightbox2/dist/js/lightbox.js"></script>
    <!-- endbower-->
    <script src="bower_components/social-likes/dist/social-likes.min.js"></script>
    <!-- endbuild-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js"></script>
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <header class="main-header">
            <div class="container">
              <div class="mobile-header-nav">
                <div class="header__logo-wr"><a href="index.html"><img src="img/logo-new.jpg" alt="header logo" width="190" height="148" class="header__logo img-responsive">
                    <div class="sr-only">
                      <h1>Envy Her.</h1>
                    </div></a></div>
                <div class="toggle-menu toggle-menu_left visible-xs-block js-mobile-menu__site-nav-btn"><span class="menu-line menu-line_top"></span><span class="menu-line menu-line_center"></span><span class="menu-line menu-line_bottom"></span></div>
                <div class="toggle-menu toggle-menu_right visible-xs-block js-mobile-menu__user-btn"><i class="eh-icon-user"></i></div>
              </div>
              <div class="mobile-menu__user">
                <div class="clearfix">
                  <div class="site-global-actions-header">
                    <div class="clearfix">
                      <div class="site-global-action-menu">
                        <div class="header__help-nav hidden-xs">
                          <div class="header__help-nav-item"><a href="contact.html" class="header__help-nav-link">Contact us</a></div>
                          <div class="header__help-nav-item"><a href="faq.html" class="header__help-nav-link">Need help</a></div>
                        </div>
                        <div class="header__profile-nav"><a href="sign-in.html" class="header__profile-nav-link"><i class="eh-icon-lock"></i>
                            <div class="sr-only">Sign in / Sign up</div></a><a href="my-account.html" class="header__profile-nav-link"><i class="eh-icon-user"></i>
                            <div class="sr-only">my account</div></a></div>
                        <div class="header__dropdonwns-menu">
                          <div class="dropdown dropdown_pr-1"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">RU<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">RU</a></li>
                              <li><a href="">EN</a></li>
                              <li><a href="">DH</a></li>
                            </ul>
                          </div>
                          <div class="dropdown dropdown_pr-2"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn">$<i class="dr-caret eh-icon-arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="">$</a></li>
                              <li><a href="">€</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="header__cart-menu">
                          <div class="header__cart-btn dropdown"><a data-target="#" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-btn"><span class="header__cart-btn-label"><img src="img/svg/cart.svg" alt="cart icon" width="14.5" height="17" class="icon"><span>CART</span></span><span class="header__cart-btn-counter">1 product</span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart keep-open-on-click">
                              <div class="dropdown-menu-cart__body">
                                <div class="dropdown-menu-cart__product-list">
                                  <div data-mcs-theme="minimal-dark" class="cart__product-list__custom-scrollbar mCustomScrollbar">
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                    <div class="dropdown-menu-cart__product-item">
                                      <div class="menu-cart__product-thumbnail"><img src="http://dummyimage.com/100x100/4d494d/fff.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                                      <div class="menu-cart__product-info">
                                        <div class="menu-cart__product-title"><span class="menu-cart__product-counter">1x</span> <span>Silver Necl...</span></div>
                                        <div class="menu-cart__product-price">$30.54</div>
                                      </div><span class="menu-cart__product-remove"><i class="eh-icon-close"></i></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="dropdown-menu-cart__footer">
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Shipping</div>
                                  <div class="dropdown-menu-cart__total-value">Free shipping!</div>
                                </div>
                                <div class="dropdown-menu-cart__total-row">
                                  <div class="dropdown-menu-cart__total-label">Total</div>
                                  <div class="dropdown-menu-cart__total-value dr-cart-value__strong">$30.54</div>
                                </div><a href="" class="btn btn-info btn-lg btn-block">Check out <i class="eh-icon-arrow-right-bl"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="header__search-form__wr">
                        <form class="header__search-form">
                          <input type="text" placeholder="Search" class="header__search-form-input">
                          <button type="submit" class="header__search-form-button"><i class="eh-icon-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mobile-menu__site-nav">
                <div class="clearfix">
                  <div class="site-nav-wr">
                    <nav class="site-nav">
                      <ul class="site-nav__list">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Necklaces</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Bracelets</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Rings</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-1.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                              <div class="mega-menu__one-col">
                                <div class="mega-menu__thumbnail"><img src="imgBackEnd/mega-menu-img-2.jpg" alt="" class="img-responsive"></div>
                                <div class="mega-menu__thumbnail-link-wr"><a href="">photo charm<i class="eh-icon-arrow-right-bl icon-r"></i></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Collections</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Gifts</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Best sellers</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Statement Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Floating Lockets-Packages</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__one-col">
                                <ul class="mega-menu__list">
                                  <li class="mega-menu__list-item"><a href="">Love Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Disc and Circles Collection</a></li>
                                  <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                                </ul>
                              </div>
                              <div class="mega-menu__two-col">
                                <div class="mega-menu__thumbnail"><a href=""><img src="imgBackEnd/mega-menu-img-3.jpg" alt="" class="img-responsive"></a></div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">Create your own</a></li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link site-nav__list-link_sale">Sale</a></li>
                      </ul>
                      <ul class="site-nav__list site-nav__list_categories-sidebar visible-xs-block">
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">WHAT'S HOT</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Christmas Gifts Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Monogram Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Yours Truly Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Best Sellers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Arrivals</a></li>
                                <li class="mega-menu__list-item"><a href="">Ring Collection</a></li>
                                <li class="mega-menu__list-item"><a href="">Bar Necklaces</a></li>
                                <li class="mega-menu__list-item"><a href="">Infinity Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">CREATE YOUR OWN</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">My Charm Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Floating Lockets</a></li>
                                <li class="mega-menu__list-item"><a href="">My Photo Necklace</a></li>
                                <li class="mega-menu__list-item"><a href="">My Coin Lockets</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="site-nav__list-item"><a href="" class="site-nav__list-link js-site-nav__list-link">SHOP FOR</a>
                          <div class="mega-menu__wr">
                            <div class="mega-menu">
                              <ul class="mega-menu__list">
                                <li class="mega-menu__list-item"><a href="">Mothers</a></li>
                                <li class="mega-menu__list-item"><a href="">New Mom</a></li>
                                <li class="mega-menu__list-item"><a href="">Grandmother</a></li>
                                <li class="mega-menu__list-item"><a href="">Men</a></li>
                                <li class="mega-menu__list-item"><a href="">Kids</a></li>
                                <li class="mega-menu__list-item"><a href="">Baby</a></li>
                                <li class="mega-menu__list-item"><a href="">Couples</a></li>
                                <li class="mega-menu__list-item"><a href="">Family Tree Collection</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <div class="container">
            <script>
              $( document ).ready(function() {
                $('.js-mobile-dropdown').on('click', function(){
                  $(this).toggleClass('active');
                })
              });
            </script>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Order history</li>
            </ol>
            <header class="main-content__header main-content__header_border">
              <h2 class="main-content__title">Order history</h2>
            </header>
            <div class="main-content__body">
              <table class="table table-bordered responsive-table order-table">
                <thead data-dropdown-title="SORT MENU" class="js-mobile-dropdown">
                  <tr role="row" class="active">
                    <th>Order reference</th>
                    <th class="sorting">Date</th>
                    <th class="sorting">Total price</th>
                    <th>Payment</th>
                    <th class="sorting">Status</th>
                    <th>Invocie</th>
                    <th class="sorting_disabled"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-th="Order" class="td-xs-label col order"><a href="" class="order-link">MVPKSGFOI</a></td>
                    <td data-th="Date" class="td-xs-label col date"><a href="" class="order-link">01/04/2017</a></td>
                    <td data-th="Total price" class="td-xs-label col total-price">$30.54</td>
                    <td data-th="Payment" class="td-xs-label col payment">Bank wire</td>
                    <td data-th="Status" class="td-xs-label col status"><span class="label label-info label-info-md">Awaiting bank wire payment </span></td>
                    <td data-th="Invocie" class="td-xs-label col invocie">-</td>
                    <td class="col actions"><a href="" class="btn btn-default btn-bl"> Details<i class="eh-icon-arrow-right icon-r"></i></a><span class="reloader__wr"><span class="reloader-icon"><i class="eh-icon-reload"></i></span><span class="reloader-label">Reorder</span></span></td>
                  </tr>
                  <tr>
                    <td data-th="Order" class="td-xs-label col order"><a href="" class="order-link">BQDBPNIRQ</a></td>
                    <td data-th="Date" class="td-xs-label col date"><a href="" class="order-link">01/04/2017</a></td>
                    <td data-th="Total price" class="td-xs-label col total-price">$30.54</td>
                    <td data-th="Payment" class="td-xs-label col payment"></td>
                    <td data-th="Status" class="td-xs-label col status"><span class="label label-info label-info-md">Awaiting bank wire payment </span></td>
                    <td data-th="Invocie" class="td-xs-label col invocie">-</td>
                    <td class="col actions"><a href="" class="btn btn-default btn-bl"> Details<i class="eh-icon-arrow-right icon-r"></i></a><span class="reloader__wr"><span class="reloader-icon"><i class="eh-icon-reload"></i></span><span class="reloader-label">Reorder</span></span></td>
                  </tr>
                  <tr>
                    <td data-th="Order" class="td-xs-label col order"><a href="" class="order-link">MVPKSGFOI</a></td>
                    <td data-th="Date" class="td-xs-label col date"><a href="" class="order-link">01/04/2017</a></td>
                    <td data-th="Total price" class="td-xs-label col total-price">$30.54</td>
                    <td data-th="Payment" class="td-xs-label col payment">Bank wire</td>
                    <td data-th="Status" class="td-xs-label col status"><span class="label label-info label-info-md">Awaiting bank wire payment </span></td>
                    <td data-th="Invocie" class="td-xs-label col invocie">-</td>
                    <td class="col actions"><a href="" class="btn btn-default btn-bl"> Details<i class="eh-icon-arrow-right icon-r"></i></a><span class="reloader__wr"><span class="reloader-icon"><i class="eh-icon-reload"></i></span><span class="reloader-label">Reorder</span></span></td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
            <footer class="main-content__footer"><a href="" class="btn btn-default btn-bl"><i class="eh-icon-arrow-left-bl icon-l"></i>Continue shopping</a><a href="" class="btn btn-default btn-bl"><i class="eh-icon-arrow-left-bl icon-l"></i>Home</a></footer>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Footer-->
      <div class="container-wrap container-wrap__footer">
        <footer class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-6 footer__navs-wr">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="footer-menu__title">Information</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="about-us.html">About us</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sale</a></li>
                      <li class="footer-menu__nav-item"><a href="">Sitemap</a></li>
                      <li class="footer-menu__nav-item"><a href="faq.html">FAQ</a></li>
                      <li class="footer-menu__nav-item"><a href="contact.html">Contact us</a></li>
                      <li class="footer-menu__nav-item"><a href="size-guide.html">Size guide</a></li>
                      <li class="footer-menu__nav-item"><a href="">How to take care of your jewelry</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <div class="footer-menu__title">My account</div>
                    <ul class="footer-menu__nav">
                      <li class="footer-menu__nav-item"><a href="">My orders</a></li>
                      <li class="footer-menu__nav-item"><a href="">My personal info</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-md-offset-2">
                <div class="footer__logo-wr"><a href=""><img src="img/svg/logo.svg" alt="footer logo" width="203" height="50" class="footer__logo img-responsive">
                    <div class="sr-only"><img src="img/logo.png" alt="footer logo">
                      <h2>Envy Her.</h2>
                    </div></a></div>
                <div class="footer__contacts">
                  <div class="footer__contact-row">My Company , 4578 Marmora Road, Glasgow D04 89GR</div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Call us now:</span> <span class="footer__contact-value"><a href="tel:12345679842">1(234) 567-9842</a></span></div>
                  <div class="footer__contact-row"><span class="footer__contact-label">Email:</span> <span class="footer__contact-value"><a href="mailto:info@demolink.org">info@demolink.org</a></span></div>
                </div>
                <ul class="footer__social-menu">
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-facebook"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-instagram"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-twitter"></i></a></li>
                  <li class="footer__social-menu-item"><a href=""><i class="eh-icon-pinterest"></i></a></li>
                </ul>
                <div class="footer__copyright">© 2017 My Name in Bling</div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end inner Footer-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>
